:root {
  --color-text: #000000;
  --color-background: #ffffff;
  --color-background-2: #f7d8c6;
  --color-neutral: #81817f;
  --color-accent: #f7f6f2;
  --color-accent-2: #d185f7;
  --color-accent-3: #8eb7f9;
  --color-accent-4: #ff85c7;
  --color-accent-5: #e3f587;
  --color-accent-6: #ff6260;
  --color-accent-7: #ffbf98;
}